/* Variables */
/* Mixins */
/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #f4f5f6;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: arial, helvetica, sans-serif;
}

.block-title {
  color: rgba(3, 3, 3, 0.4);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #333;
}

h2 {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

li {
  list-style: none;
}

/* NavBar */
.mobile {
  position: fixed;
  top: 0;
  background-color: #f72210;
  height: 50px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.mobile a {
  display: inline-block;
  width: 132px;
  height: 26px;
}
.mobile .nav-right {
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile .nav-right .subscribe {
  height: 26px;
  letter-spacing: -1px;
  background-color: #ffe400;
  border: none;
  border-radius: 24px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  width: 97px;
  padding: 0 12px;
  margin: 0 10px;
}
.mobile .nav-right i {
  font-size: 18px;
}

.desktop .top-container {
  background-color: #f72210;
}
.desktop .top-container .date {
  color: #fff;
}
.desktop .top-container .date a {
  color: #fff;
}
.desktop .logo-container a {
  display: inline-block;
  width: 395px;
  height: 60px;
}
.desktop .text-container h2 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.desktop .text-container .subscribe {
  height: 32px;
  letter-spacing: -1px;
  background-color: #ffe400;
  border: none;
  border-radius: 24px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  width: 130px;
  padding: 0 12px;
  margin: 0 10px;
}
.desktop .menu-01 {
  position: relative;
}
.desktop .menu-01::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  background-color: #f72210;
  border-left: 12px solid #fff;
  border-top: 13px solid #f72210;
  width: 100px;
}
.desktop .menu-01 li {
  padding: 0 10px;
  border-right: 1px solid #e2e2e2;
  line-height: 24px;
  font-weight: bold;
  font-size: 17px;
}
.desktop .menu-02 li {
  padding: 0 10px;
  line-height: 24px;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}
.desktop .menu-02 li a {
  color: rgba(3, 3, 3, 0.4);
}

/* Main */
.container-fluid {
  max-width: 1310px;
  background-color: #fff;
}
.container-fluid .card .top-img {
  position: relative;
  min-height: 33px;
}
.container-fluid .card .top-img .category {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  padding: 8px 15px;
}
.container-fluid .card .top-img .category a {
  color: #f72210;
}

.featured-stories::before {
  content: "";
  display: block;
  border-top: #e2e2e2 1px solid;
  background-color: #f4f5f6;
  position: relative;
  left: -15px;
  width: 100vw;
  height: 18px;
  margin-bottom: 15px;
}

.debate::before {
  content: "";
  display: block;
  border-top: #e2e2e2 1px solid;
  background-color: #f4f5f6;
  position: relative;
  left: -15px;
  width: 100vw;
  height: 18px;
  margin-bottom: 15px;
}

.debate {
  position: relative;
}

.rounded-pic {
  display: flex;
  align-items: center;
}
.rounded-pic img {
  width: 63px;
  height: 63px;
  margin-right: 15px;
}
.rounded-pic a {
  font-weight: bold;
  color: black;
  font-size: 17px;
}
.rounded-pic p {
  font-weight: bold;
  font-size: 14px;
}

.decoration {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
.decoration .vs {
  background-color: #333;
  position: relative;
  width: 32px;
  height: 32px;
  color: #e2e2e2;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding-top: 8px;
  z-index: 1;
}

.decoration::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(3, 3, 3, 0.4);
  height: 1px;
  left: 0;
  right: 0;
  top: 50%;
}

.decoration::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(3, 3, 3, 0.4);
  height: 1px;
  left: 0;
  right: 0;
  top: calc(50% - 2px);
}

.rounded-pic-left {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.rounded-pic-left img {
  width: 63px;
  height: 63px;
  margin-left: 15px;
}
.rounded-pic-left a {
  font-weight: bold;
  color: black;
  font-size: 17px;
}
.rounded-pic-left p {
  font-weight: bold;
  font-size: 14px;
}

.opinion::before {
  content: "";
  display: block;
  border-top: #e2e2e2 1px solid;
  background-color: #f4f5f6;
  position: relative;
  left: -15px;
  width: 100vw;
  height: 18px;
  margin-bottom: 15px;
}

.categories-01::before {
  content: "";
  display: block;
  border-top: #e2e2e2 1px solid;
  background-color: #f4f5f6;
  position: relative;
  left: -15px;
  width: 100vw;
  height: 18px;
  margin-bottom: 15px;
}

.more-stories::before {
  content: "";
  display: block;
  border-top: #e2e2e2 1px solid;
  background-color: #f4f5f6;
  position: relative;
  left: -15px;
  width: 100vw;
  height: 18px;
  margin-bottom: 15px;
}

.more-stories .square-pic img {
  width: 95px;
  height: 95px;
  margin-right: 15px;
}
.more-stories .square-pic a {
  font-weight: bold;
  color: black;
  font-size: 17px;
}

.my-turn::before {
  content: "";
  display: block;
  border-top: #e2e2e2 1px solid;
  background-color: #f4f5f6;
  position: relative;
  left: -15px;
  width: 100vw;
  height: 18px;
  margin-bottom: 15px;
}

.my-turn h2 a {
  font-size: 16px;
  color: rgba(3, 3, 3, 0.4);
}
.my-turn .card .top-img .category {
  padding: 2px 5px;
  background-color: #c2d4d7;
}
.my-turn .card .top-img .category a {
  color: #333;
  font-size: 12px;
  font-weight: bolder;
}

.categories-01 .card .top-img .category p,
.categories-02 .card .top-img .category p {
  color: #3581f4;
  margin-bottom: 0;
}

.form {
  background-color: #f4f5f6;
  max-width: 300px;
  padding: 20px;
}
.form .format {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
}
.form .format img {
  width: 29px;
  height: 28px;
  margin-right: 10px;
}
.form .form-control {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}
.form .btn {
  background-color: #f72210;
  color: #fff;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.in-the-magazine::before {
  content: "";
  display: block;
  border-top: #e2e2e2 1px solid;
  background-color: #f4f5f6;
  position: relative;
  left: -15px;
  width: 100vw;
  height: 18px;
  margin-bottom: 15px;
}

.bottom {
  background-color: #fff;
}
.bottom .format {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
}
.bottom .format img {
  width: 29px;
  height: 28px;
  margin-right: 10px;
}
.bottom .featured h4 {
  font-size: 16px;
  font-weight: bold;
}
.bottom .featured .top-img {
  position: static;
}
.bottom .featured .top-img .category {
  position: static;
  display: inline-block;
  background-color: #f72210;
}
.bottom .featured .top-img .category a {
  color: #fff;
}
.bottom .featured .top-img .category-02 {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}
.bottom .featured .top-img .category-02 a {
  color: #f72210;
}

.see-all-features {
  display: block;
  width: 100%;
  background-color: #f4f5f6;
  text-align: center;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.editors-pick::before {
  content: "";
  display: block;
  border-top: #e2e2e2 1px solid;
  background-color: #f4f5f6;
  position: relative;
  left: -15px;
  width: 100vw;
  height: 18px;
  margin-bottom: 15px;
}

.us-news .square-pic img {
  width: 95px;
  height: 95px;
  margin-right: 15px;
}
.us-news .square-pic a {
  font-weight: bold;
  color: black;
  font-size: 17px;
}
.us-news a {
  text-transform: capitalize;
  font-size: 17px;
}

.bottom-title {
  color: #f72210;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.position-relative img {
  width: 170px;
  height: 228px;
}
.position-relative .position-absolute {
  top: 13px;
  left: 80px;
}

.subscribe-section::before {
  content: "";
  display: block;
  border-top: #e2e2e2 1px solid;
  background-color: #f4f5f6;
  position: relative;
  left: -15px;
  width: 100vw;
  height: 18px;
  margin-bottom: 15px;
}

.subscribe-box {
  background-color: #f4f5f6;
  padding: 20px;
}

.subscribe-img {
  padding-right: 80px;
}

.info-text p {
  font-size: 17px;
}
.info-text .btn {
  background-color: #f72210;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.newsletter::before {
  content: "";
  display: block;
  border-top: #e2e2e2 1px solid;
  background-color: #f4f5f6;
  position: relative;
  left: -15px;
  width: 100vw;
  height: 18px;
  margin-bottom: 15px;
}

.newsletter .card {
  width: 100%;
}
.newsletter .input-group input {
  line-height: 30px;
  font-size: 14px;
}
.newsletter .btn {
  background-color: #f72210;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer::before {
  content: "";
  display: block;
  border-top: #e2e2e2 1px solid;
  background-color: #f4f5f6;
  position: relative;
  left: -15px;
  width: 100vw;
  height: 18px;
  margin-bottom: 15px;
}

footer {
  background-color: #fff;
  padding: 0 20px;
}
footer .social-links img {
  width: 236px;
}
footer .social-links .social-icons {
  padding: 0;
  font-size: 24px;
  line-height: 24px;
}
footer .social-links .social-icons li {
  margin-right: 5px;
}
footer .edition-links {
  font-size: 14px;
  line-height: 15px;
  padding-left: 0;
}
footer .edition-links li {
  margin: 6px 20px 6px 0;
}

/* Media Queries */
@media (min-width: 768px) {
  .featured-stories::before,
.debate::before,
.opinion::before,
.categories-01::before,
.more-stories::before,
.my-turn::before,
.editors-pick::before,
.subscribe-section::before,
.newsletter::before,
.in-the-magazine::before,
.footer::before {
    display: none;
  }

  .featured-stories .block-title,
.debate .block-title {
    margin-top: 1rem;
  }

  .my-turn .card {
    padding: 0 10px;
  }
  .my-turn .card h2 {
    line-height: 16px;
  }

  .categories-02 .card {
    max-width: 330px;
    margin: 0 auto;
  }

  .in-the-magazine .format,
.editors-pick .format {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 8px;
  }

  .in-the-magazine .card {
    width: 160px;
  }

  .editors-pick .card {
    max-width: 340px;
  }

  .us-news .bottom-title {
    padding-top: 1.5rem;
    border-top: 1px solid #e2e2e2;
  }
  .us-news .card {
    margin: 1.5rem 10px 0 0;
  }

  .subscribe-section .info-text {
    max-width: 390px;
    text-align: left !important;
  }

  .social-links {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}
@media (min-width: 1024px) {
  .in-the-magazine .card,
.editors-pick .card {
    width: 300px;
  }

  .us-news .card {
    width: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
