/* Variables */
$black: #333;
$background-color: #f4f5f6;
$soft-gray: #e2e2e2;
$gray: #d9d9d9;


/* Mixins */

@mixin block-separation {
  content: "";
  display: block;
  border-top: $soft-gray 1px solid;
  background-color: $background-color;
  position: relative;
  left: -15px;
  width: 100vw;
  height: 18px;
  margin-bottom: 15px;
}

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
	text-decoration: none;
}

.debate::before,
.opinion::before,
.categories-01::before,
.more-stories::before,
.my-turn::before,
.editors-pick::before,
.subscribe-section::before,
.newsletter::before,
.in-the-magazine::before,
.footer::before {
  @include block-separation;
}
/* NavBar */
.nav-before {
		position: relative;
			&::before {
				position: absolute;
				top: 0;
				right: 0;
				content: "";
				display: block;
				background-color: #dc3545;
				border-left: 12px solid #fff;
				border-top: 13px solid #dc3545;
				width: 100px;
			}
}

/* Main */

.container-fluid {
  max-width: 1310px;
}

.debate-img {
	width: auto;
	height: 63px;
}

.stories-img {
	width: auto;
	height: 95px;
}

.format-img {
	width: 29px;
}

.decoration {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px auto;

  .vs {
    background-color: $black;
    position: relative;
    width: 32px;
    height: 32px;
    text-align: center;
    z-index: 1;
  }
}

.decoration::after {
  content: "";
  display: block;
  position: absolute;
  background-color: $gray;
  height: 1px;
  left: 0;
  right: 0;
  top: 50%;
}

.decoration::before {
  content: "";
  display: block;
  position: absolute;
  background-color: $gray;
  height: 1px;
  left: 0;
  right: 0;
  top: calc(50% - 2px);
}

  .bg-img {
    background-image: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5");
    background-size: cover;
		background-position: center;
    height: 200px;
  }

/* Media Queries */

@media (min-width: 768px) {
  .debate::before,
  .opinion::before,
  .categories-01::before,
  .more-stories::before,
  .my-turn::before,
  .editors-pick::before,
  .subscribe-section::before,
  .newsletter::before,
  .in-the-magazine::before,
  .footer::before {
    display: none;
  }

	.categories-02 {
		max-width: 330px;
		margin: 0 auto;
	}

	.bg-img {
		height: 300px;
	}
}

@media (min-width: 1024px) {
	.newsletter {
		.bg-img {
			height: 403px;
		}
		.input-group {
			.form-control {
				width: 100%;
			}
		}
	}
}
